<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="<%= htmlWebpackPlugin.options.fav %>" sizes="32x32" />
  <link rel="icon" href="<%= htmlWebpackPlugin.options.fav %>" sizes="192x192" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <link rel="apple-touch-icon-precomposed" href="<%= htmlWebpackPlugin.options.fav %>" />
  <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.options.fav %>" />
  <meta name="theme-color" content="<%= htmlWebpackPlugin.options.themeColor %>">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <%= htmlWebpackPlugin.files.webpackManifest %>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
<div id="root">
  <style>
    body {
      margin: 0;
      color: #A8A9AD;
      text-align: center;
      background-color: #4a4a4a;
      /* background-color: #2d2d2d; */
      font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    }

    #root {
      font-size: 1.72em;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex: 1 1 auto;
    }
  </style>
</div>

<noscript>This Web Application requires Javascript to function...</noscript>
</body>

</html>
